body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body  {
  /* padding-left: 15px;
  padding-right: 15px; */
  /*background-image: linear-gradient(to bottom,orangered,white);
  color: black;*/
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-image: white;
    width: 100%;
    height: 100%;
}

